<!-- Home -->
<div class="container">

  <div class="row">
    <div class="col-md-6 offset-md-3">
      <h4 class="text-center">
        Trabalha, vagabundo!
        <small class="text-muted">Fazer nada, sempre.</small>
      </h4>

      <img src="/images/snorlax.gif" alt="snorlax" />
      <p class="lead">
        Ow preguiçoso da PORRA eu só quero saber de uma coisa. SÓ 1!!!
        Que horas tu entrou nesse trabalho?
      </p>

      <!-- Form para selecionar o horário -->
      <form action="/" method="post">
        <div class="form-group">
          <label for="exampleSelect1">Seleciona ai, arrombado:</label>
          <select class="form-control" name="selectOption">
            <option value="7">7 horas - TÁ CEDO PRA PORRA HEIM</option>
            <option value="8">8 horas - TÁ SHOW RETARDADO</option>
            <option value="9">9 horas - JÁ QUASE ACABOU A MANHÃ</option>
            <option value="10">10 horas - BORA PREGUIÇOSO</option>
            <option value="11">11 horas - BORA PREGUIÇOSO</option>
            <option value="12">12 horas - NÃO VAI ALMOÇAR, RETARDADO?</option>
            <option value="13">13 horas - DESGRAÇADO DA PORA 13 HORAS?</option>
            <option value="14">14 horas - DORMINDO E RELAXANDO</option>
            <option value="15">15 horas - JÁ ACABOU O EXPEDIENTE MERMÃO</option>
          </select>
        </div>
        <button type="submit" class="btn btn-primary">ENVIA ISSO AI MERMÃO</button>
      </form>

      <!--<form action="/" method="post">
        <div class="form-group">
          <input type="number" class="form-control" name="horasOption" placeholder="Horas">
        </div>

        <div class="form-group">
          <input type="number" class="form-control" name="minutosOption" placeholder="Minutos">
        </div>

        <button type="submit" class="btn btn-primary">ENVIA ISSO AI MERMÃO</button>
      </form>-->

    </div>
  </div>
</div>
